html, body {
  background-color: #F3E5F5;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

.header {
  background-color: #B39DDB;
  height: 140px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header h1 {
  margin: 0 auto;
	position: relative;
	padding-bottom: 10px;
  text-align: center;
	top: 44px;
}

.nav ul {
  margin: 0 0 30px;
  text-align: center;
  padding-top: 10px;
}

.nav li {
  display: inline;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  transition: 1s;
  text-decoration: none;
  color: #B39DDB;
}

.row {
  margin-top: 30px;
}

.footer {
  padding-right: 40px;
  text-align: right;
  font-size: 10px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 100px;
}

img {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 500px) {
  .row {
    margin-top: 0;
  }
  .img-responsive {
    margin-bottom: 20px;
  }
}